<a class="group relative flex min-h-[400px] flex-col justify-end overflow-hidden bg-white" href={{slug}}>

    <div class="relative z-10 p-4 font-sans text-center bg-white/90 lg:p-6">
        <p class="text-xs">{{category}} &bull; {{postDate}}</p>
        <p class="my-2 text-lg font-bold uppercase transition-all duration-300">
            {{title}}
        </p>
        <p class="group-hover:text-red">Read more...</p>
    </div>

</a>
