<footer>
	<ul class="flex justify-center py-12 gap-x-8 text-orange">
		
		<li>
			<a class="{color} transition-all duration-300 hover:opacity-75" href="https://www.instagram.com/headofthefable/?hl=en-gb" target="_blank"
				rel="noreferrer">
				<p class="sr-only">Instagram</p>
				{{ function('icon', 'instagram', 'w-8 h-8') }}
			</a>
		</li>

		<li>
			<a class="{color} transition-all duration-300 hover:opacity-75" href="https://www.facebook.com/headofthefable/" target="_blank" rel="noreferrer">
				<p class="sr-only">Facebook</p>
				{{ function('icon', 'facebook', 'w-8 h-8') }}
			</a>
		</li>

		<li>
			<a class="{color} transition-all duration-300 hover:opacity-75" href="https://twitter.com/JulesSmithTweet" target="_blank" rel="noreferrer">
				<p class="sr-only">Twitter</p>
				{{ function('icon', 'twitter', 'w-8 h-8') }}
			</a>
		</li>
		
	</ul>
</footer>

<a id="back-top" class="fixed z-50 p-2 -mb-20 text-center transition-all duration-1000 bg-gray-100 rounded-sm opacity-0 bottom-4 right-4 hover:bg-gray-200" href="javascript:">
	<span class="text-sm text-black no-underline">
		{{ function('icon', 'angle-up', 'w-4 h-4') }}
		<span class="block uppercase">Top</span>
	</span>
</a>

<div id="pixel-to-watch"></div>
