<a href={{link}} class="{{slug}} {{current ? 'current' : ''}} relative block overflow-hidden p-4 text-center font-sans text-sm font-bold uppercase leading-snug transition-colors duration-200 hover:text-teal sm:p-6 lg:text-xs xl:text-base">
    {{label}}
</a>
