/* ---------------------------------------------------
Mobile Nav
--------------------------------------------------- */

/* Important to set */
$menuTitleHeight: 59px;

/* Colours */
$mobNavBg: theme("colors.gray.100");

$titleBg: theme("colors.gray.300");
$titleText: theme("colors.gray.600");

$linkText: theme("colors.gray.800");
$linkBg: transparent;
$linkBorder: theme("colors.gray.200");

$linkTextActive: theme("colors.white");
$linkBgActive: theme("colors.gray.600");

$linkTextOn: theme("colors.gray.300");
$linkBgOn: theme("colors.gray.800");

$dropdownArrowBg: transparent;
$dropdownArrowText: inherit;

$closeText: theme("colors.white");
$closeTextBg: theme("colors.red.800");

.mob-nav {
  @apply fixed top-0 bottom-0 right-0 w-4/5 h-full duration-300;

  -webkit-transform: translateX(101%);
  transform: translateX(101%);
  transition: 0.4s;

  background: $mobNavBg;
  display: block !important;
  z-index: 99999999;

  &:before {
    content: "Menu";

    @apply block w-full p-4 text-center;

    border-bottom: 1px solid $linkBorder;
    background: $titleBg;
    color: $titleText;
  }

  &--active {
    @apply transform translate-x-0;
    box-shadow: -10px 0 30px rgba(0,0,0, 0.2);
  }

  li {
    @apply relative float-left w-full list-none;
  }

  a {
    @apply relative float-left w-full p-4 pl-6 pr-16 text-sm no-underline;
    color: $linkText;
    border-bottom: 1px solid $linkBorder;
    background-color: $linkBg;

    &:hover {
      @apply no-underline;
    }

    > .icon {
      @apply hidden;
    }
  }

  br {
    display: none;
  }

  /* Current page states */
  .current-menu-item > a,
  .current-menu-parent > a,
  .current-menu-ancestor > a {
    color: $linkTextOn;
    background-color: $linkBgOn;

    + .sub-arrow {
      color: $linkTextOn;
    }
  }

  .sub-arrow {
    @apply absolute top-0 right-0 z-10 px-0 text-center cursor-pointer;
    padding-top: 14px;
    padding-bottom: 14px;
    border-left: 1px solid $linkBorder;
    width: 45px;
    color: $linkText;
    background-color: $linkBg;

    .icon {
      @apply hidden;
    }

    .icon.active {
      @apply inline-block;
    }
  }

  /* active class is applied to parent link when submenu is activated */
  a.active {
    background: $linkBgActive;
    color: $linkTextActive;

    + .sub-arrow {
      border-color: $linkBorder;
      color: $linkTextActive;
    }
  }

  .sub-menu {
    @apply hidden float-left w-full;

    li {
      @apply pl-6;
    }
  }
}

.mob-nav .scroll-container {
  @apply absolute left-0 w-full overflow-y-scroll;
  top: $menuTitleHeight;
  height: calc(100vh - $menuTitleHeight);
  -webkit-overflow-scrolling: touch;
  padding-bottom: 100px;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.mob-nav-close {
  @apply fixed left-0 hidden w-12 h-12 transform -translate-x-full;

  background-color: $closeTextBg;
  bottom: 40%;

  .icon {
    @apply m-auto text-4xl;
    color: $closeText;
  }

  .mob-nav--active & {
    @apply flex;
  }
}

.mob-nav-underlay {
  @apply fixed top-0 bottom-0 left-0 right-0 invisible w-full h-full opacity-0;
  background-color: rgba(0,0,0, 0.4);
  z-index: 999999;
  transition: 0.3s;

  &.mob-nav--active {
    @apply visible opacity-100;
  }
}
