<div class="container">
    <div class="max-w-screen-sm p-8 mx-auto text-center border-t border-gray-300">
        <h2 class="text-orange">Share this post on social!</h2>
        <ul class="flex justify-center gap-x-8 text-orange">
            {% include "_views/_components/share-links.twig" with {
                url: "https://www.julessmith.co.uk/blog/" ~ post.slug ~ "/",
            } %}
        </ul>

        <div class="flex flex-col items-center justify-center my-8">
            <p class="mb-4 text-primary-dark">and</p>
            <p class="font-sans font-bold text-pink">subscribe for updates!</p>

            {% include "_views/_components/icegram-form.twig" %}
        </div>
    </div>
</div>
