<footer>
	<ul class="flex justify-center py-12 gap-x-8 text-orange">
		
		{% include "_views/_components/social-links.twig" %}
		
	</ul>
</footer>

<a id="back-top" class="fixed z-50 p-2 -mb-20 text-center transition-all duration-1000 bg-gray-100 rounded-sm opacity-0 bottom-4 right-4 hover:bg-gray-200" href="javascript:">
	<span class="text-sm text-black no-underline">
		{{ function('icon', 'angle-up', 'w-4 h-4') }}
		<span class="block uppercase">Top</span>
	</span>
</a>

<div id="pixel-to-watch"></div>
