{% extends '_layout/base.twig' %}

{% block hero %}
  {% include "_views/_components/banner-content.twig" with {
    containerClassNames: "bg-red",
    textClassNames: "text-white",
    intro: category.name,
    filterTitle: "",
  } %}
{% endblock %}

{% block content %}
<div class="py-8 bg-gray-100 lg:py-16">
  <div class="container">

    <div class="grid w-full grid-cols-1 gap-8 mx-auto sm:grid-cols-2 md:grid-cols-3 lg:w-10/12 ">
      
      {% for post in posts %}

        {% include "_views/_components/blog-card.twig" with {
          title: post.title,
          slug: post.slug,
          postDate: post.date,
          category: category.name,
        } %}

      {% endfor %}       

      </div>

      {% include "_components/pagination.twig" %}

  </div>
</div>

{% endblock %}
