{% extends '_layout/base.twig' %}

{% block content %}

<div class="container flex my-8 lg:my-16">

  <main class="max-w-screen-lg mx-auto lg:w-2/3">

    <article class="copy">

      <h1>Page not found</h1>

      <p>Please go to the <a href="{{site.url}}">homepage</a>.</p>

    </article>

  </main>

</div>

{% endblock %}
