/* ---------------------------------------------------
Typography
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Mali&family=Poppins:wght@400;700&family=Raleway:wght@100&display=swap');


/* Headings */

h1,
h2,
h3,
h4,
h5,
h1 b,
h2 b,
h3 b,
h4 b {
  @apply font-sans font-bold uppercase;
}

h1 {
  @apply mb-6 text-2xl;
}

h2 {
  @apply mb-4 text-xl;
}

h3,
h4 {
  @apply mb-4 text-xl;
}

/* Copy */

.copy {
  > p {
    @apply mb-6 leading-relaxed;
  }

  a {
    @apply relative inline-flex text-red;

    &:before {
      content: '';
      @apply absolute bottom-0 left-0 h-[1px] w-0 bg-red transition-all duration-200;
    }

    &:hover:before {
      @apply w-full;
    }
  }

  ol,
  ul {
    @apply mb-8;

    li {
      @apply my-4 leading-relaxed;
    }
  }

  li {
    @apply relative pl-8 my-4 list-none;
  }

  li:before {
    content: '';
    @apply absolute top-0 left-0 w-5 h-5 rounded-full;
  }

  ol {
    li {
      @apply list-decimal;
    }
  }

  blockquote {
    @apply p-4 mb-8 bg-gray-100;
  }
}

.copy:not(.make-a-monstory) li:before {
  @apply bg-[#000] w-6 h-6 bg-[length:50%_50%] bg-center bg-no-repeat;
}

.make-a-monstory {
  @apply font-sans lg:text-lg;

  li {
    @apply before:odd:bg-blue-light before:even:bg-yellow-dark;
  }

  li:before {
    @apply top-[.25rem];
  }
}

@screen md {
  .copy {
    img {
      @apply w-full;
    }

    .alignleft {
      @apply float-left mt-1 mb-1 mr-1;
    }

    .aligncenter {
      @apply float-none mx-auto my-0;
    }

    .alignright {
      @apply float-right mt-1 mb-1 ml-1;
    }
  }
}


.make-a-monstory {
  @apply font-sans lg:text-lg;

  li {
    @apply before:odd:bg-blue-light before:even:bg-yellow-dark;
  }
}
